.featuredPlaylists {
  font-family: sans-serif;
  overflow: auto;
  position: absolute;
  top: 8vh;
  left: 220px;  right: 0;

  bottom: 10vh;
  z-index: 100;
  /* width: 85.7%; */
  height: 82vh;
  padding: 1rem;
  background-color: rgb(20, 20, 20);

}
.featuredPlaylists h3 {
  color: white;
  margin-bottom: 1rem;
}

