.home {
  font-family: sans-serif;
  overflow: auto;
  position: absolute;
  top: 8vh;
  left: 220px;  right: 0;

  bottom: 10vh;
  z-index: 100;
  /* width: 85.7%; */
  height: 82vh;
  padding: 1rem;
  padding-top: 0;
  background-color: rgb(20, 20, 20);
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.title h3 {
  color: white;
  font-size: 1.4rem;
}
.title a {
  text-decoration: none;
}
.title h4 {
  color: white;
  font-size: 0.8rem;
}
